<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.utraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <meta charset="UTF-8">
    <title>Likes list</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="card">
            <div class="card-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="event:${events}">
                        <th scope="row" th:text="${event.title}"></th>
                        <td th:text="${event.country}+', '+${event.city}+', '+${event.address}"></td>
                        <td ><span class="badge text-bg-info" th:text="${event.startDate}"></span></td>
                        <td ><span class="badge text-bg-info" th:text="${event.endDate}"></span></td>
                        <td><a th:href="@{/event/unlike(eventId=${event.eventId})}" class="btn btn-secondary">Unlike</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>