<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.utraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <meta charset="UTF-8">
    <title>Likes list</title>
</head>
<body>
    <div layout:fragment="content" class="container-width">
        <div class="card">
            <div class="card-body">
                <table class="table table-hover table-dark table-bg-dark">
                    <thead>
                    <tr>
                        <th scope="col">Event Title</th>
                        <th scope="col">Description</th>
                        <th scope="col">Start date</th>
                        <th scope="col">Finish date</th>
                        <th scope="col">unlike</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="event:${events}">
                        <th scope="row" th:text="${event.title}"></th>
                        <td th:text="${event.country}+', '+${event.city}+', '+${event.address}"></td>
                        <td ><span class="badge text-bg-light p-2" th:text="${event.startDate}"></span></td>
                        <td ><span class="badge text-bg-light p-2" th:text="${event.endDate}"></span></td>
                        <td><a th:href="@{/event/unlike(eventId=${event.eventId},userId=${userId})}" class="btn btn-secondary">Unlike <i class="fa-solid fa-heart-circle-xmark"></i></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>