<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.utraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <meta charset="UTF-8">
    <title>Event</title>
</head>
<body>
    <section layout:fragment="content" class="d-flex m-5 gap-3">
        <div class="card" style="width: 18rem;">
            <img th:src="'/uploads/'+${event.eventImage}" class="card-img-top" alt="eventImage">
            <div class="card-body">
                <h5 class="card-title" th:text="${event.title}"></h5>
                <p class="card-text" th:text="${event.description}"></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item" th:text="${event.country}+', '+${event.city}+', '+${event.address}"></li>
                <li class="list-group-item" th:text="'Start Date : '+${event.startDate}"></li>
                <li class="list-group-item" th:text="'End Date : '+${event.endDate}"></li>
            </ul>
            <div class="card-body">
                <a th:href="@{/events/like(eventId=${event.eventId},userId=${userId})}"
                    th:class="${isLiked}? 'btn btn-danger' : 'btn btn-outline-danger'">❤ Like
                    <span th:text="${event.getLiked().size()}"></span></a>
                <a th:href="@{/events/saves(eventId=${event.eventId},userId=${userId})}"
                   th:class="${isSaved}? 'btn btn-success' : 'btn btn-outline-success'">📩 Save</a>
                <br>
                <a th:href="@{/events}" class="card-link">See All events</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">

            <div class="card-header">
                <form th:action="@{/event/comment(eventId=${event.eventId},userId=${userId})}" method="post" th:object="${commentObj}">
                    <div class="form-floating mb-3">
                        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"
                        th:field="*{content}" th:value="${commentObj.content}"></textarea>
                        <label for="floatingTextarea">Comments</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Comment</button>
                </form>
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li th:each="comment:${comments}" class="list-group-item">
                        <a th:if="${comment.getUserEntityCommented().userId == userId}"
                                th:href="@{/event/comment/delete(eventId=${event.eventId},userId=${userId},commentId=${comment.commentId})}" class="btn btn-danger">X</a>
                        <p th:text="${comment.content}"></p>
                        <span th:class="${comment.userEntityCommented.userId == userId}?'badge text-bg-primary':'badge text-bg-success'" th:text="${comment.userEntityCommented.userName}"></span>
                        <span class="badge text-bg-secondary" th:text="${comment.commentedAt.toString().substring(0,16)}"></span>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</body>
</html>