<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.utraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/springsecurity6"
      layout:decorate="layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div layout:fragment="content" class="">
        <section class="hero-section container-width">
            <h1 class="hero-title">Eventify your space to manage your events</h1>
            <p class="hero-subtitle">Eventify a platform to manage your events easily, you can like, save and comment on your favourite events</p>
        </section>
        <section class="cards-section">
            <div class="cards-container container-width">
                <div th:each="event:${events}"  class="event-card">
                    <div class="card-img-container">
                        <a  sec:authorize="hasRole('ADMIN')" th:href="@{/events/delete(eventId=${event.eventId})}" class="small-icon delete-icon"><i class="fa-solid fa-trash fa-sm"></i></a>
                        <a  sec:authorize="hasRole('ADMIN')" th:href="@{/events/update(eventId=${event.eventId})}" class="small-icon edit-icon"><i class="fa-solid fa-pen-to-square fa-sm"></i></a>
                        <img class="event-img" th:if="${(event.eventImage!= null) and (!event.eventImage.isEmpty())}"
                             th:src="'/uploads/'+${event.eventImage}" alt="event cover">
                    </div>
                    <div class="event-card-body">
                        <p class="event-card-title" th:text="${event.title}">Title</p>
                        <a th:href="@{/event(eventId=${event.eventId},userId=${user.getUserId()})}"
                           class="source-link">Details <i class="fa-solid fa-arrow-up-right-from-square fa-sm"></i></a>
                    </div>
                </div>

            </div>
        </section>

<!--
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Event Id</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Country</th>
                <th scope="col">City</th>
                <th scope="col">Address</th>
                <th scope="col">Image</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="event:${events}">
                <th scope="row" th:text="${event.eventId}"></th>
                <td th:text="${event.title}"></td>
                <td th:text="${event.description}"></td>
                <td th:text="${event.country}"></td>
                <td th:text="${event.city}"></td>
                <td th:text="${event.address}"></td>
                <td><img
                        th:if="${(event.eventImage!= null) and (!event.eventImage.isEmpty())}"
                        th:src="'/uploads/'+${event.eventImage}" width="90">
                    <p th:unless="${event.eventImage != null and !event.eventImage.isEmpty()}">
                        No image found
                    </p>
                </td>
                <td>
                    <a th:href="@{/event(eventId=${event.eventId},userId=${user.getUserId()})}" class="btn btn-outline-primary">
                    More info
                </a>
                </td>
                <td><a sec:authorize="hasRole('ADMIN')" th:href="@{/events/update(eventId=${event.eventId})}" class="btn btn-outline-success">
                    update
                </a></td>
                <td><a sec:authorize="hasRole('ADMIN')" th:href="@{/events/delete(eventId=${event.eventId})}" class="btn btn-outline-danger">
                    delete
                </a></td>
            </tr>
            </tbody>
        </table>
-->
    </div>
</body>
</html>