<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.utraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/springsecurity6"
      layout:decorate="layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div layout:fragment="content" class="container-width">

        <div class="w-100 h-100 error-section">
            <img class="error-img" alt="errorImg" src="/images/404img.png"
                 width="300"
                 height="300"
            >
            <h1 class="hero-title">404</h1>
            <p class="error-text">This Page is Lost in Space</p>
        </div>
    </div>
</body>
</html>